


<script src="~/Areas/Account/Scripts/GeneralLedger/LoadGeneralLedger.js"></script>



<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>General Ledger</h2>

    </header>

    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>

        <table id="generalLedger" class="table table-bordered table-hover responsive-utilities ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Opening Balance</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Closing Balance</th>
                </tr>
            </thead>
        </table>

    </div>

</div>

