<script src="~/Areas/Account/Scripts/GeneralLedger/LoadGeneralLedgerSetting.js"></script>

@{
    ViewBag.Title = "GeneralLedger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en-us">

<body class="">

    <!-- MAIN PANEL -->
    @*id="main"*@
    <div role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment">
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="Warning! This will reset all your widget settings." data-html="true">
                    @*<i class='text-warning fa fa-warning'></i>*@
                    <i class="fa fa-refresh"></i>
                </span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Home</li>
                <li>Forms</li>
                <li>Smart Form Elements</li>
            </ol>

        </div>
        <!-- END RIBBON -->
        <!-- MAIN CONTENT -->
        <div id="content">




            <!-- widget grid -->
            <section id="widget-grid" class="">


                <!-- START ROW -->

                <div class="row">

                    <!-- NEW COL START -->
                    <article class="col-sm-12 col-md-12 col-lg-4">
                        @Html.Partial("~/Areas/Account/Views/COA/_AccountTree.cshtml")
                        <!-- END COL -->
                        
                    </article>
                    <article class="col-sm-12 col-md-12 col-lg-8">

                        @Html.Partial("_ViewGeneralLedger")
                    </article>

                </div>

                <!-- END ROW -->
                <!-- NEW ROW -->

                <div class="row">




                </div>

                <!-- END ROW-->

            </section>
            <!-- end widget grid -->


        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->





    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            pageSetUp();

        })

    </script>

    <!-- Your GOOGLE ANALYTICS CODE Below -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>

</html>

