<header>
    <span class="widget-icon"> <i class="fa fa-hand-o-up"></i> </span>
    <h2>Database Confiduration</h2>
</header>
<!-- widget div-->
<div>
    <!-- end widget edit box -->
    <!-- widget content -->
    <div class="widget-body">
        <p class="alert alert-info">
            Please press Backup button for create a system backup. Back up will stored in the default location.
        </p>
        <table>
            <tr>
                <td><input type="button" id="btnBackup" class="Button btn-success" value="Backup" /></td>
            </tr>
            @*<tr>
                <td>
                    <section id="selfLocation">
                        <label class="label">File input</label>
                        <div class="input input-file">
                            <span class="Button"><input type="file" id="fileLocation" name="file" onchange=" this.parentNode.nextSibling.value=this.value ">Browse</span>
                            <input type="text" placeholder="Include desire file location" readonly="">
                        </div>
                        <input type="button" id="btnRestore" class="Button btn-prev" value="Restore" />
                    </section>
                </td>

            </tr>*@
        </table>

    </div>
    <!-- end widget content -->

</div>
<!-- end widget div -->