<script src="~/Areas/DbManagement/Scripts/BackupRestore.js"></script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en-us">

<body class="">

    <!-- MAIN PANEL -->
    @*id="main"*@
    <div role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment">
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="Warning! This will reset all your widget settings." data-html="true">
                    @*<i class='text-warning fa fa-warning'></i>*@
                    <i class="fa fa-refresh"></i>
                </span>
            </span>
            <!-- breadcrumb -->
        </div>
        <!-- END RIBBON -->
        <!-- MAIN CONTENT -->
        <div id="content">

            <!-- widget grid -->
            <section id="widget-grid" class="">
                <!-- START ROW -->
                <div class="row">
                    <!-- NEW COL START -->
                    <article class="col-sm-12 col-md-12 col-lg-6">
                        @Html.Partial("_BackupRestore")
                        <!-- END COL -->
                    </article>
                </div>

                <!-- END ROW -->
                <!-- NEW ROW -->

                <div class="row">

                </div>

                <!-- END ROW-->

            </section>
            <!-- end widget grid -->


        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

    <script type="text/javascript">

            // DO NOT REMOVE : GLOBAL FUNCTIONS!

            $(document).ready(function () {

                pageSetUp();

            })

    </script>

</body>

</html>

