
<script src="~/Scripts/Dashboard/DashboardTwo.js"></script>
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

<script src="~/Scripts/ChartsRif/amcharts.js"></script>
    <script src="~/Scripts/ChartsRif/serial.js"></script>
    <script src="~/Scripts/ChartsRif/export.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/ChartsRif/export.css" type="text/css" media="all" />
<script src="~/Scripts/ChartsRif/light.js"></script>

@*<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>*@


@*<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>*@
<div id="chartdiv2" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>