
<script src="~/Areas/Account/Scripts/CreateNewGl.js"></script>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">APT ERP</h4>
            </div>
            <div id="modal-body">
                <h2 id="rif"></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Create Node </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">

            <div class="smart-form">
               

                <fieldset>
                    <input type="hidden" id="hdnId" hidden="" value="0" />
                    <input type="hidden" id="hdnparentId" hidden="" value="0" />
                    <section>
                        <label for="txtParent" class="label">Parent</label>
                        <label class="input">
                            <input type="text" id="txtParent" name="txtParent" maxlength="50" placeholder="Parent" required />
                        </label>
                    </section>
                    <section>
                        <label for="txtParentCode" class="label">Parent Code</label>
                        <label class="input">
                            <input type="text" id="txtParentCode" name="txtParentCode" maxlength="50" placeholder="Parent Code" required />
                        </label>
                    </section>
                    <section>
                        <label for="txtNewChild" class="label">New Child</label>
                        <label class="input">
                            <input type="text" id="txtNewChild" name="txtNewChild" maxlength="50" placeholder="New Child" required/>
                        </label>
                    </section>
                    <section>
                        <label for="txtNewChildCode" class="label">New Child Code</label>
                        <label class="input">
                            <input type="text" id="txtNewChildCode" name="txtNewChildCode" maxlength="50" placeholder="New Child Code" required />
                        </label>
                    </section>


                    @*<section>
                        <label for="chkIsActive" class="label">Is Active</label>
                        <label class="checkbox">
                            <input type="checkbox" id="chkIsActive" name="IsActive" />
                        </label>
                    </section>*@



                    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
                    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>






                    @*<section>
                        <label class="checkbox">
                            <input type="checkbox" name="chkIsActive" id="chkIsActive">
                            <i></i>IsActive

                        </label>

                    </section>*@
                </fieldset>



                <footer>
                    <button class="btn btn-primary" id="btnSaveBlockInfo">
                        @*onclick="createAssetCategoryManager.SaveAssetCategory()"*@
                        Save
                    </button>
                    @*<button type="button" class="btn btn-default" id="btnClearBlockInfoForm">
                        Clear
                    </button>*@
                </footer>
            </div>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->


<div id="dialog_simple" title="SAJESS Automation 1.0.0">
    <p>
    </p>
</div>

