
<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
    <header>
        <h2>Process MIS Data to accounts </h2>
    </header>
    <div>
        <div class="smart-style-2">
            <fieldset>
                <div class="select2-dropdown--below">
                    <div class="col-lg-8 col-md-8">
                        <section>
                            <label class="title" for="cmbCostCenterId" class="label">Select Cost Center</label>
                            <label class="select">
                                <select id="cmbCostCenterId">
                                    <option></option>
                                </select>
                            </label>
                        </section>
                    </div>
                </div>
            </fieldset>
        </div>
        <span> </span>
        <table id="myTable" class="table table-bordered table-hover responsive-utilities ">
            <thead>
            <tr>
                <th>Id</th>
                <th>Particular</th>
                <th>Amount</th>
                <th>Process Status</th>
                <th>A_GlTransactionId</th>
            </tr>
            </thead>
        </table>
        <table>
            <tr>
                <td><input type="button" id="btnProcess" class="Button btn-success" value="Process"/></td>
                <td><input type="button" id="btnRefresh" class="Button btn-prev" value="Refresh" /></td>
                <td><input type="button" id="btnReprocess" class="Button btn-primary" value="Re-process" /></td>
            </tr>
        </table>

    </div>

</div>

