<script src="~/Areas/Management/Scripts/Supplier/CreateSuppliers.js"></script>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div id="modal-body">
                <h2 id="rif"></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Widget ID (each widget will need unique ID)-->
@*<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">*@
<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Add new supplier</h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">
            <div class="smart-form">
                <fieldset>
                    <input type="text" id="hdnSupplierId" hidden="" value="0" />
                    <section>
                        <label for="txtSupplierName" class="label">Supplier Name</label>
                        <label class="input">
                            <input type="text" id="txtSupplierName" name="txtSupplierName" placeholder="Supplier Name" required />
                        </label>
                    </section>
                    <section>
                        <label for="txtMobileNo" class="label">Mobile No:</label>
                        <label class="input">
                            <input type="text" id="txtMobileNo" name="txtMobileNo" placeholder="Mobile No" required />
                        </label>
                    </section>
                    <section>
                        <label for="cmbDistrictId" class="label">District:</label>
                        @*<label class="input">
                                <input type="text" id="cmbDistrictId" name="cmbDistrictId" placeholder="District" />
                            </label>*@

                        <label class="select">
                            <select id="cmbDistrictId">
                                <option></option>
                            </select>
                        </label>

                    </section>
                    <section>
                        <label for="txtNoteSupplier" class="label">Reference</label>
                        <label class="textarea">
                            <textarea id="txtNoteSupplier" name="Note" rows="3" class="custom-scroll"></textarea>
                        </label>
                    </section>
                    <section>
                        <label class="checkbox">
                            <input type="checkbox" name="chkIsActive" id="chkIsActive">
                            <i></i>IsActive
                        </label>
                    </section>
                </fieldset>

                <footer class="footrow">
                    <button class="btn btn-primary" id="btnSaveSupplier">Save</button>
                    <button type="button" class="btn btn-default" id="btnClear">Clear</button>
                </footer>

            </div>
        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->


<div id="dialog_simple" title="SAJESS Automation 1.0.0">
    <p>
    </p>
</div>
