





<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Book Closing Value</h2>

    </header>

    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>

        <table id="myTable" class="table table-bordered table-hover responsive-utilities ">
            <thead>
                <tr>
                    <th>Book Id</th>
                    <th>Fiscal Year</th>
                    <th>Account Id</th>
                    <th>Opening Balance</th>
                    <th>Closing Balance</th>
                    <th>Status</th>

                </tr>
            </thead>
        </table>

    </div>

</div>

